# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity6_SpriteRenderer_Anim_Issue.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
